<div class="maincategory">
  <div class="C">
    <!-- <img src="/images/products/" alt=""> -->
    <p> عطر و ادکلن </p>
  </div>
  <div class="C">
    <!-- <img src="/images/products/" alt=""> -->
    <p> رنگ مو </p>
  </div>
  <div class="C">
    <!-- <img src="/images/products/" alt=""> -->
    <p> مراقبت پوست </p>
  </div>
  <div class="C">
    <!-- <img src="/images/products/" alt=""> -->
    <p> مراقبت مو </p>
  </div>
  <div class="C">
    <!-- <img src="/images/products/" alt=""> -->
    <p> مراقبت ناخن </p>
  </div>
  <div class="C">
    <!-- <img src="/images/products/" alt=""> -->
    <p> آرایش چشم </p>
  </div>
  <div class="C">
    <!-- <img src="/images/products/" alt=""> -->
    <p> آرایش لب </p>
  </div>
</div>
