<p>برندها</p>
<div class="brands">
  <div>
    <img src="/images/brands/b1.jpg" alt="">
  </div>

  <div>
    <img src="/images/brands/b2.jpg" alt="">
  </div>

  <div>
    <img src="/images/brands/b3.jpg" alt="">
  </div>

  <div>
    <img src="/images/brands/b4.jpg" alt="">
  </div>
  <div>
    <img src="/images/brands/b5.jpg" alt="">
  </div>
  <div>
    <img src="/images/brands/b6.jpg" alt="">
  </div>
  <div>
    <img src="/images/brands/b7.jpg" alt="">
  </div>
  <div>
    <img src="/images/brands/b8.jpg" alt="">
  </div>
</div>
