<nav class="main-menu">
  <ul>
    <li> <a href=""> برندها </a></li>
      <li>
          <a href=""> آرایشی </a>
          <ul class="sub-menu">
              <li><a href=""> پوست </a></li>
              <li><a href=""> چشم  </a></li>
              <li><a href=""> ابرو </a></li>
              <li><a href=""> لب </a></li>
          </ul>
      </li>
      <li>
          <a href=""> مراقبت پوست </a>
          <ul class="sub-menu">
              <li><a href=""> ضد آفتاب </a></li>
              <li><a href=""> سرم پوست </a></li>
              <li><a href=""> دور چشم </a></li>
              <li><a href=""> ضد پیری  </a></li>
              <li><a href=""> ضد آکنه </a></li>
              <li><a href=""> ضد لک </a></li>
              <li><a href=""> شوینده </a></li>
          </ul>
      </li>
      <li>
        <a href=""> مراقبت مو </a>
        <ul class="sub-menu">
            <li><a href=""> رنگ مو </a></li>
            <li><a href=""> شامپو </a></li>
            <li><a href=""> ماسک  </a></li>
            <li><a href=""> نرم کننده </a></li>
            <li><a href=""> اسپری </a></li>
        </ul>
    </li>
    <li>
        <a href=""> لوازم و تجهیزات </a>
        <ul class="sub-menu">
            <li><a href=""> برقی </a></li>
            <li><a href=""> براش و پد اسفنجی  </a></li>
            <li><a href="">  شانه و برس </a></li>
        </ul>
    </li>
    <li> <a href=""> آقایان </a></li>
    <li> <a href=""> مادر و کودک </a></li>
      </ul>
</nav>
