.main-menu {
  background-color: purple;
  text-align: right;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu li {
  display: inline-block;
  position: relative;
}

.main-menu a {
  display: block;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
}

.main-menu>ul>li>a:hover{
font-weight: bold;
color: yellow;
}
.main-menu>ul>li>ul>li :hover{
font-weight: bold;
color: blue;
}
.main-menu .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
}

.main-menu li:hover .sub-menu {
  display: block;
}
.sub-menu a{
  color: black;
}
