<div class="containerfooter">

  <div class="lastarticles">

    <div class="A">
      <img src="/images/products/A1.jpg" alt="">
      <p>بهترین کرم پودر برای پوست‌های چرب و جوشدار</p>
    </div>

    <div class="A">
      <img src="/images/products/A2.jpg" alt="">
      <p>راهنمای خرید عطر: چگونه عطر مناسب خود را پیدا کنیم؟</p>
    </div>

    <div class="A">
      <img src="/images/products/A3.jpg" alt="">
      <p> محافظت از پوست حساس کودکان در مقابل آفتاب </p>
    </div>

    <div class="A">
      <img src="/images/products/A4.jpg" alt="">
      <p> روتین مراقبت از موی فر و مجعد </p>
    </div>

    <div class="A">
      <img src="/images/products/A5.jpg" alt="">
      <p> بهترین مارک‌های شامپو و ماسک مخصوص موهای کراتین شده در ایران </p>
    </div>
  </div>
  <div class="MC">
    <div class="footermenu">
      <a href="">تماس با ما</a>
      <a href="">درباره ما</a>
      <a href="">همکاری با ما</a>
      <a href="">مجله زیبایی</a>
      <a href="">راهنمای خرید و پرداخت </a>
      <a href=""> رویه های ارسال </a>
      <a href=""> شرایط مرجوعی </a>
      <a href=""> پرسش‌های متداول </a>
    </div>

    <div class="certificates">
      <img src="/images/certificates/اتحادیه.png" alt="">
      <img src="/images/certificates/ساماندهی.png" alt="">
      <img src="/images/certificates/اینماد.png" alt="">
    </div>
  </div>
</div>
