/* .product{
display: flex;
flex-direction: column;
align-items: center;
}
img{
  border-radius: 10%;
  margin: 0.5em;
}
.brand{
  text-align: center;
  font-size: xx-small;
}
.title{
  text-align: center;
  font-size:medium;
}
.price{
  text-align: center;
  font-size:medium;
  font-weight: bold;
} */
