p{
  color: blueviolet;
  margin-top: 1em;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}
.newp{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10%vh;
  background-color: blueviolet;
  overflow-x: scroll;
}
img{
  border-radius: 10%;
  margin: 0.5em;
}

