<p class="maintitle">%تا 60 درصد تخفیف در پرتخفیف های هفته</p>
  <!-- <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product> -->
 <div class="discounts">
  <div>
    <img src="/images/products/p5.jpg" alt="کرملین">
    <p class="title"> شامپو فری سولفات کرملین مراقبت از موی کراتینه 400 میلی لیتر </p>
    <p class="price"> تومان 390000 </p>
  </div>

  <div>
    <img src="/images/products/p6.jpg" alt="کرملین">
    <p class="title"> شامپو فری سولفات کرملین حاوی روغن آرگان 400 میلی لیتر </p>
    <p class="price"> تومان 390000 </p>
  </div>

  <div>
    <img src="/images/products/p7.jpg" alt="کرملین">
    <p class="title"> شامپو فری سولفات کرملین مراقبت از موی رنگ شده 400 میلی لیتر </p>
    <p class="price"> تومان 390000 </p>
  </div>

  <div>
    <img src="/images/products/p8.jpg" alt="کرملین">
    <p class="title"> شامپو فری سولفات کرملین مراقبت از موی آسیب دیده 400 میلی لیتر </p>
    <p class="price"> تومان 390000 </p>
  </div>
</div>


