:host {
  box-sizing: border-box;
  width: 20%;
  padding: 4px;
}

.product {
  padding: 20px;
  border: 2px solid darkgray;
  border-radius: 5px;
  background-color: lightcyan;
}

image {
  width: 100%;
}

.title {
  text-align: center;
}

.price {
  display: flex;
  justify-content: space-between;
}
