
.link{
  display: flex;
  width: 5em;
  background-color: purple;
  color: white;
  padding: 00.5em 1em;
  border: none;
  border-radius: 5px;
  margin-left: 00.5em;
  background-color: purple;
}
button a{
  text-decoration: none;
  color: white;
}